.Todo {
  background-color: var(--color-grey-light);
  line-height: 2.5rem;
  padding: 0 2rem 0 2rem;
}

.Todo-completed {
  color: var(--color-grey);
  text-decoration: line-through;
}

.Todo span {
  float: right;
  text-align: center;
  width: 2.5rem;
  color: var(--color-grey);
}
