:root {
  /* vars */
  --color-white: #faf9f8;
  --color-grey-light: #f0eeee;
  --color-grey: #949393;
  --color-green: #448c70;
  --color-red: #c3110e;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  /* background: grey url(imgs/bg-lg.jpg) no-repeat bottom center; */
  background-size: cover;
  /* object-fit: cover; */
}

.App {
  /* background-color: grey; */
  color: white;
  font-family: 'Poppins', sans-serif;
}
