body {
  background: grey
    url(https://images.unsplash.com/photo-1577574024120-48dde9effcee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80)
    no-repeat left top;
}

.App {
  /* background-color: grey; */
  color: white;
  font-family: 'Poppins', sans-serif;
}
